<div class="nav">
    <div class="sb-sidenav-menu-heading">PM</div>
    <a class="nav-link" href="/m/projects">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        프로젝트
    </a>
    <div class="sb-sidenav-menu-heading">진단원</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pentest" aria-expanded="false" aria-controls="pentest">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        모의해킹
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="pentest" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/m/penetrationtest">모의해킹 종합</a>
            <a class="nav-link" href="/m/penetrationtest/pentestcount">통계</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#sourcecode" aria-expanded="false" aria-controls="sourcecode">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        소스코드
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="sourcecode" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="#">소스코드 종합</a>
            <a class="nav-link" href="#">통계</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#infra" aria-expanded="false" aria-controls="infra">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        인프라
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="infra" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="#">인프라 종합</a>
            <a class="nav-link" href="#">통계</a>
        </nav>
    </div>

    <div class="sb-sidenav-menu-heading">관리</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        데일리
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/m/manage/daily">종합</a>
            <a class="nav-link" href="/m/manage/daily1">모의해킹</a>
            <a class="nav-link" href="/m/manage/daily2">소스코드</a>
            <a class="nav-link" href="/m/manage/daily3">인프라</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
        관리
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#manage1" aria-expanded="false" aria-controls="manage1">
                모의해킹
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="manage1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/m/penetrationtest/penetrationtest_manage">관리 - 진단대상</a>
                    <a class="nav-link" href="/m/penetrationtest/vulner_manage">관리 - 취약점</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#manage2" aria-expanded="false" aria-controls="manage2">
                인프라
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="manage2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="#">401 Page</a>
                    <a class="nav-link" href="#">404 Page</a>
                    <a class="nav-link" href="#">500 Page</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#manage3" aria-expanded="false" aria-controls="manage3">
                설정
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="manage3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/admin">사용자 생성</a>
                    <a class="nav-link" href="/m/manage/userip">사용자 조회</a>
                </nav>
            </div>
        </nav>
    </div>
    <!-- 
    <div class="sb-sidenav-menu-heading">더미</div>
    <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
        더미1
    </a>
    <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        더미2
    </a>
    -->
</div>