<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- head %>
    <br><a href="/m/insert">프로젝트 관리대장 (PM님용)</a><br><a href="/m/penetrationtest">모의해킹 종합 (진단원용)</a><br><a href="/m/penetrationtest/pentestcount">주간보고용</a><br>
  </head>
  <body>
    <%- body %> 
    <%- script %>
  </body>
</html>
